/* Body dhe html plot full-screen */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* Navbar transparent mbi hero */
.custom-nav {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 12px 20px;
    border-radius: 40px;

    background: rgba(0, 0, 0, 0.5); /* transparent i errët */
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: all 0.3s ease;
}

/* Navbar links */
.navbar-nav { 
    display: flex; 
    justify-content: center; 
    gap: 25px;
    text-decoration: none;
    list-style: none;
}

.nav-link { 
    display: flex; 
    gap: 6px; 
    font-weight: 600; 
    color: white;
    opacity: 0.8; 
    padding: 10px 18px; 
    border-radius: 20px; 
    transition: 0.35s ease; 
    text-decoration: none;
}

.nav-link:hover { 
    opacity: 1; 
    transform: translateY(-4px); 
    background: #c59d5f; 
    box-shadow:0 0 10px rgba(0,0,0,0.4); 
}

/* Hero Section - full screen */
.foto-front {
    width: 100%;
    height: 100vh; /* mbulon gjithë ekranin */
    background-image: url("front-page.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff;
    text-shadow: 0 2px 10px rgba(0,0,0,0.4); /* jep thellësi */
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1s forwards 0.3s;
}

.hero-text .hero-subtitle {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    color: #f0e6d2;
    margin-bottom: 25px;
    line-height: 1.6;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards 0.6s;
}

/* Animacion fade-in */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Butoni mbetet si më parë */
.start-btn {
    margin-top: 20px;
    margin-left: 350px;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background: #c59d5f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards 0.9s;
}


